* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;

}



.banner {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  margin-left: 10px;
}

.banner img {
  width: 150px;
  border-style: none;
  margin-top: 2rem;
}

.text_instruction {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  padding: 20px 0 10px;
  margin: 0;

}

.form_login {
  display: flex;
  margin-top: 2rem;
  width: 80%;
  flex-direction: row-reverse;
  
}

.form_login input {
  width: 70%;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: rgb(89, 40, 168);
  box-shadow: -10px -10px 15px rgba(13, 14, 68, 0.09),
    10px 10px 15px rgba(135, 141, 197, 0.349);
  transition: .5s;
  padding: 15px 55px 10px 15px;
  height: 50px;

}

.form_login button {

  position: absolute;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: 0;
  background: #40ff2f;
  color: #f6f5f8;

}

.text_instruction {

  text-align: center;
  padding: 20px 0 10px;
  margin: 15px;
}

